* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #004a80;
  font-family: HelveticaNeue;
  position: relative;
  letter-spacing: 0;
  color: #555;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

.padding-6 {
  padding: 0.375rem;
}

.padding-12 {
  padding: 0.75rem;
}

.padding-b-12 {
  padding-bottom: 0.75rem;
}

.padding-tb-6 {
  padding: 0.375rem 0;
}

.padding-lr-12 {
  padding: 0 0.75rem;
}
/* Text syles */

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-gray {
  color: #999999;
}

.text-gold {
  color: #f2da56;
}

.text-blue {
  color: #004a80;
}

.text-white {
  color: #ffffff;
}

.text-title {
  font-size: 3.25rem;
  font-family: HelveticaNeue-Bold;
}
.text-subtitle {
  font-size: 1.5rem;
  line-height: 29px;
}
/*Header style*/

.header-options {
  display: flex;
  justify-content: space-between;
}

.header-options > section > img {
  height: 1.563rem;
}

.options > img:first-child {
  padding-right: 0.938rem;
}

/* footer style */
.footer {
  flex-shrink: 0;
  background-color: #ffffff;
}

.footer-text {
  padding: 0 0.875rem;
}
.footer-text span {
  font-size: 0.938rem;
  line-height: 20px;
}

.footer-policy b {
  padding: 0.625rem 0;
  display: inline-block;
}

.footer-policy span {
  font-size: 0.875rem;
}

/* Search content*/
.text-info {
  padding: 1rem 0;
}
.text-info img {
  height: 1.25rem;
}
.text-info span {
  font-size: 1rem;
  font-family: HelveticaNeue-Bold;
}

.reverse-email-container {
  background-image: linear-gradient(0deg, #e6e6e6 0%, #ffffff 100%);
  padding: 1rem;
}

.result-container {
  background-image: linear-gradient(0deg, #e6e6e6 0%, #ffffff 100%);
  padding: 1rem;
  display: none;
}

.content-text {
  padding: 1rem 0;
}
/* Input style*/
.input-form {
  display: flex;
  flex-flow: column-reverse;
}

label,
input {
  transition: all 0.2s;
  touch-action: manipulation;
}

input {
  padding-left: 0.75em;
  font-size: 1em;
  font-family: HelveticaNeue-Bold;
  -webkit-appearance: none;
  cursor: text;
  letter-spacing: 2px;
  width: 100%;
  height: 4.375rem;
  background: #ffffff;

  border: none;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 19px -8px rgba(0, 0, 0, 0.75);
}

input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}

label {
  padding-left: 0.75em;
  font-size: 1em;
  font-family: HelveticaNeue-Bold;
  letter-spacing: 2px;
}

input:placeholder-shown + label {
  cursor: text;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.75rem) scale(1);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 1.5em) scale(1);
  cursor: pointer;
}

/* BTN style*/

.btn {
  width: 100%;
  height: 4.375rem;
  border: none;
  background-image: linear-gradient(225deg, #f2da56 0%, #f6bc25 100%);
  box-shadow: 0 3px 0 0 #a6953b, inset 0 1px 0 0 #ffffff;
  -webkit-box-shadow: 0 3px 0 0 #a6953b, inset 0 1px 0 0 #ffffff;

  -moz-box-shadow: 0 3px 0 0 #a6953b, inset 0 1px 0 0 #ffffff;
  border-radius: 6px;
}

.btn span {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.btn-gold {
  background-color: #f2da56;
}
.btn-gold:active {
  background-color: #f6bc25;
}

.loader {
  border: 1em solid #f3f3f3; /* Light grey */
  border-top: 1em solid #004a80; /* Blue */
  border-radius: 50%;
  width: 3.375rem;
  height: 3.375rem;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Option*/

.option {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem 0.5rem 1rem 0rem;
}

.option-number {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  padding-right: 1.5rem;
}
.option-profile {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  padding-right: 1.5rem;
  display: none;
}
.text-option {
  order: 0;
  flex: 3 1 auto;
  align-self: auto;
}
.text-option h2 {
  font-size: 1.375rem;
}

.text-option span {
  font-size: 1.125rem;
}

.text-option-result {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}
.text-option-result h2,
#name-span,
#age-span {
  font-size: 1.375rem;
}

.text-option-result span {
  font-size: 1.125rem;
}
.blue-circle {
  background: #004a80;
  border: 1px;
  border-radius: 50%;
  height: 5.6rem;
  width: 5.625rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.blue-circle span {
  order: 0;
  flex: 0 0 auto;
  align-self: auto;
  font-size: 3rem;
  font-family: HelveticaNeue-Bold;
}

/*Card*/

.card {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

.number-list {
  padding: 0;
}
.number-list-li {
  list-style-type: none;
  font-size: 1.125em;
  line-height: 1.625em;
}

.relatives-list {
  padding: 0;
}
.relatives-list-li {
  list-style-type: none;
  font-size: 1.125em;
  line-height: 1.625em;
}
/* Error  */
.error-border {
  border: 2px solid #dc0015 !important;
}
.error-label {
  color: #dc0015;
}

/* tablet view*/

@media only screen and (min-width: 576px) {
  .btn-form {
    padding-top: 24px;
  }
  .padding-r-12 {
    padding-right: 0.75rem;
  }
  .option-profile {
    display: block !important;
  }
}
/* desktop view */
@media only screen and (min-width: 768px) {
  .container-full {
    margin: 0 5rem;
  }
  .footer-policy {
    text-align: end !important;
  }
}

/* desktop view */
@media only screen and (min-width: 978px) {
  .container-full {
    margin: 0 10rem;
  }
  .container-footer {
    margin: 0 5rem;
  }
}

.clearfix {
  clear: both;
  display: grid;
}
